.Header{
  background-color: rgb(192, 255, 255);
  height: 10vh;
  padding: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header a{
  text-decoration: none;
  margin-left: 50px;
  color:black;
  border:1px solid rgb(129, 255, 255);
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(129, 255, 255);
}
.Header a:hover{
  color:white;
  background-color: rgb(50, 255, 255);
  border-color: rgb(50, 255, 255);
}
.HomePage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background: url('./components/images/home-bg.png') no-repeat;
  background-size: 100% 100%;
}
.App-create{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.App-card-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Card{
  display: flex;
  align-items: center;
  text-align: justify;
  width:40vw;
  border: 2px aqua solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background:linear-gradient(rgba(235, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./components/images/card-background.png');
  background-size: 100% 200%;
}
.add-btn,.Btn,.next-btn,.YN-Btn{
  width: fit-content;
  height: fit-content;
  font-size: 3vmin;
  border-radius: 2vmin;
  background-color: rgb(110, 255, 255);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
.add-btn:hover,.Btn:hover,.next-btn:hover,.YN-Btn:hover{
  background-color: rgb(87, 226, 226);
}
.card-image{
  width: 22vmin;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
}
.Update{
  display: flex;
  align-items: center;
  padding: 10px;
}
.Create-Inputs input,.Update input{
  width:20vw;
  height: 5vh;
  margin: 5px;
  border-radius: 10px;
  padding-left: 10px;
}
.Create-Container{
  border: 2px solid aqua;
  background-color: rgb(173, 255, 255);
  border-radius: 10px;
  padding: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Flash-Card{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-page{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.test-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid aqua;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
.container-result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

